<!DOCTYPE html>
<html>
  <head>
    <title>Shop Stock</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/tables.css">
    <link rel="stylesheet" href="/buttons.css">
    <link rel="stylesheet" href="/navigation.css">
    <link rel="stylesheet" href="/color-filter.css">
    <link rel="stylesheet" href="/form.css">
    <link rel="icon" href="/images/cart.png" />
  </head>

  <body>
    <section class="wrapper">
      <header>
        <nav>
          <ul>
            <li><a style="float: left">Shop Stock</a></li>
            <li>
              <a href="/items">Stock</a>
            </li>
            <li>
              <a href="/items/new">New Item</a>
            </li>
            <li>
              <a href="/manufacturers">Manufacturers</a>
            </li>
            <li>
              <a href="/manufacturers/new">New Manufacturer</a>
            </li>
          </ul>
        </nav>
      </header>
      <main>
        <%= yield %>
      </main>

      <footer>&copy 2018 CK Shop Stock </footer>
    </section>
  </body>
</html>
