/* Stock level */
.item-level-low{
  background-color: #ff4d4d;}

.item-level-high{
  background-color: #70db70;}

.item-level-medium{
  background-color: #ffb84d;}

/* Markup level*/
.profit-low{
  background-color:  #ff4d4d;}

.profit-high{
  background-color:  #70db70;}

.profit-medium{
  background-color:  #ffb84d;}
