body{
padding: 30px;
}

.wrapper{
  display: grid;
  width: 100%;
  grid-template-areas: " head"
                       " main"
                       " foot";
  grid-template-rows: 60px 1fr 30px;
}

.wrapper > header {
  font-size: 20px;
  text-align: center;
  grid-area: head;
}

.wrapper > main {
  grid-area: main;
  flex: 1 0 auto;
}

.wrapper > footer {
  grid-area: foot;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

h1{
  font-size: 2rem;
}

.container-new-manufacturer{
  padding: 10px;
  width:50%;
  margin:auto;
  text-align: right;
  /* display: flex; */
  background-color: #f2f2f2;
}

.container-new-item{
  padding: 10px;
  width:50%;
  margin:auto;
  text-align: right;
  justify-content: center;
  background-color: #f2f2f2;
}

.confirmation-box{
  margin: auto;
  height: 10em;
  width:50%;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center
}

.confirmation-box p{
  font-size: 20px;
  margin: 0
}
