
.table{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
}

.table-header{
  background-color: #4CAF50;
  color: white;
}

.table-header-manuf{
  background-color: #003399;
  color: white;
}

.table td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.item-details{
  padding-top: 5%;
  margin:auto;
  width: 50%;
  
}

.manufacturer-details{
  padding-top: 5%;
  margin:auto;
  width: 50%;
}

.container-edit{
  width:50%;
  margin: auto;
}
