<hr>
<h1>New Manufacturer</h1>
<hr>
<div class="container-new-manufacturer">
  <form method="post" action='/manufacturers/new'>
    <div class="row">
        <div class="col-25">
          <label for="Name">Manufacturer Name:</label>
        </div>
        <div class="col-75">
          <input id="name" type="text" name="name"/>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label for="Address">Address:</label>
        </div>
        <div class="col-75">
          <input id="address" type="text" name="address"/>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label for="telephone">Telephone:</label>
        </div>
        <div class="col-75">
          <input id="telephone" type="text" name="telephone"/>
        </div>
    </div>
    <div class="row">
      <div class="col-25">
      </div>
      <div class="col-75">
        <input type='submit' value="Create Manufacturer" id="create_button"/>
      </div>
    </div>
  </form>
</div>
