<h1>New Manufacturer</h1>

<form method="post" action='/manufacturer/new'>

  <label for="Name">Manufacturer Name:</label>
    <input id="name" type="text" name="name"/>

  <label for="Address">Address:</label>
    <input id="address" type="text" name="address"/>

  <label for="telephone">Telephone:</label>
    <input id="telephone" type="text" name="telephone"/>

    <input type='submit' value="Create Manufacturer"/>
</form>
