<h1>New Item</h1>

<form method="post" action='/items/new'>

  <label for="manufacturer-selection">Select Manufacturer:</label>
    <select id="manufacturer-selection" name="manufacturer">
      <option value="Samsung">  Samsung </option>
      <option value="LG">  LG </option>
      <option value="Sony">  Sony </option>
      <option value="Panasonic">  Panasonic </option>
      <option value="Apple">  Apple </option>
      <option value="Nokia">  Nokia </option>
      <option value="AKG">  AKG </option>
      <option value="Philips">  Philips </option>
      <option value="Dyson">  Dyson </option>
      <option value="Bose">  Bose </option>
      <option value="JVC">  JVC </option>

    </select>

  <label for="Name">Name:</label>
    <input id="name" type="text" name="name"/>

  <label for="type">Type:</label>
    <input id="type" type="text" name="type"/>

  <label for="description">Description:</label>
    <input id="description" type="text" name="description"/>

  <label for="purchase_price">Purchase Price:</label>
    <input id="purchase_price" type="text" name="purchase_price"/>

  <label for="sell_price">Sell Price:</label>
    <input id="sell_price" type="text" name="sell_price"/>

  <label for="quantity_in_stock">Quantity in Stock:</label>
    <input id="quantity_in_stock" type="text" name="quantity_in_stock" />

    <input type='submit' value="Create Item"/>
</form>
